language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"  
# command to install dependencies
install: 
  - pip install coveralls
#  - pip install filechunkio
# command to run tests
script:
  - nosetests --with-coverage
after_success:  
  coveralls
env:
  - S3_ACCESS_KEY_ID=sandbox0000000000001 S3_SECRET_ACCESS_KEY=bf71cc799349ea62df7e849091c2ea5258782211